/* Anpassad CSS för FAB knappar och Modal, alltså rutan som kommer upp när man trycker på fab-knappen. */
.fab {
    position: fixed;
    bottom: 100px;
    right: 20px;
    min-width: 60px; /* Standardbredd för knappen */
    height: 60px;
    padding: 0 16px; /* Lägg till horisontellt padding för att rymma längre text */
    border-radius: 30px; /* Gör knappen oval */
    background-color: rgb(50, 94, 88);
    color: white;
    font-size: 12px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1000; /* Se till att FAB är över andra element */
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap; /* Förhindra att texten bryts */
    overflow: hidden;
    transition: all 0.3s ease; /* Lägg till en övergång för smidigare förändring */
}

.fab:hover {
    background-color: #0056b3;
}

/* CSS för modalen */
.modal {
    display: none; /* Döljer modalen som standard */
    position: fixed; /* Håller modalen på en fast plats på skärmen */
    z-index: 10001; /* Sätter ett högt z-index så att modalen är över kartan */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Lägger till scroll om innehållet är för stort */
    background-color: rgba(0,0,0,0.4); /* Svart bakgrund med transparens */
}

/* CSS för modalens innehåll */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* Justera marginal för att centrera modalen */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ställer in bredden på modalen */
    border-radius: 15px; /* Rundar hörnen på modalens innehåll */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Lägger till en skugga för bättre synlighet */
    max-height: 80vh; /* Begränsar höjden på modalens innehåll till 80% av viewportens höjd */
    overflow: auto; /* Lägger till en scrollbar om innehållet är för stort */
    color: rgb(50, 94, 88);
}

/* CSS för att hålla bilder inom modalens innehåll och vänsterjustera dem */
.modal-content img {
    max-width: 100%; /* Gör så att bilden inte är bredare än modalens innehåll */
    max-height: 70vh; /* Gör så att bilden inte är högre än modalens innehåll */
    object-fit: contain; /* Bibehåller bildens proportioner och anpassar den inom ramen */
    border-radius: 10px; /* Rundar hörnen på bilderna för att matcha modalen */
    display: block; /* Förhindrar att bilderna flyter vid sidan om text eller andra element */
    margin: 0; /* Tar bort eventuell standardmarginal runt bilden */
}

/* Media query för att göra modalen smalare på större skärmar */
@media (min-width: 768px) {
    .modal-content {
        width: 60%; /* Mindre bredd på modalen för större skärmar */
    }
}

@media (min-width: 1200px) {
    .modal-content {
        width: 40%; /* Ännu mindre bredd på modalen för ännu större skärmar */
    }
}

/* CSS för att stänga knappen */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
