/* Anpassad CSS för att ändra zoomkontrollernas position */
.leaflet-top.leaflet-left {
    top: 80px !important;
    left: 10px !important;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#map {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    margin: 0;
    padding: 0;
}

#bottom-panel {
    height: 120px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center; /* Centrera barnen horisontellt från mitten */
    align-items: flex-start; /* Justera vertikalt till flex-start (högst upp) */
    padding: 10px;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}

.panel-button {
    margin-top: 2px; /* Justera avståndet från bottenpanelens övre kant */
}

.panel-button img {
    width: 55px;
    height: 55px;
}

#tab-content { /* är detta för nedre tabellen? */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 220px; /* Anpassa höjden efter behov */
    background-color: white;
    color: rgb(50, 94, 88);
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    display: none; /* Initialt dold */
    z-index: 1000;
}

.tab-pane {
    display: none;
}

#info-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(50, 94, 88);
    padding: 5px 20px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-align: center;
}

#info-panel * {
    color: rgb(50, 94, 88);
}

/* Stilar för den pulserande markören */
.pulsing-circle {
    width: 8px;
    height: 8px;
    background: blue;
    border-radius: 50%;
    position: relative;
}

.pulsing-circle::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: -50%;
    left: -50%;
    background: rgba(0, 0, 255, 0.5);
    border-radius: 50%;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

/* Dölj standard Leaflet markörsymbol */
.leaflet-marker-icon[src*="marker-icon.png"] {
    display: none;
}

