/* Anpassad CSS för FAB knappar och Modal */
.fab {
    position: fixed;
    bottom: 100px;
    right: 20px;
    min-width: 60px;
    height: 60px;
    padding: 0 10px;
    border-radius: 30px;
    background-color: rgb(50, 94, 88);
    color: white;
    font-size: 12px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1000;
    display: none; /* Bör vara dold från början */
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
}

.fab.show {
    display: flex !important; /* Visa när klassen "show" läggs till, använd !important för att säkerställa visning */
}

.fab:hover {
    background-color: #004d3a; /* Mörkare grön färg vid hovring */
}

/* CSS för modalen */
.modal {
    display: none; /* Döljer modalen som standard */
    position: fixed;
    z-index: 10001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* CSS för modalens innehåll */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-height: 80vh;
    overflow: auto;
    color: rgb(50, 94, 88);
}

/* CSS för att hålla bilder inom modalens innehåll och vänsterjustera dem */
.modal-content img {
    max-width: 100%;
    max-height: 70vh;
    object-fit: contain;
    border-radius: 10px;
    display: block;
    margin: 0;
}

/* Media query för att göra modalen smalare på större skärmar */
@media (min-width: 768px) {
    .modal-content {
        width: 60%;
    }
}

@media (min-width: 1200px) {
    .modal-content {
        width: 40%;
    }
}

/* CSS för att stänga knappen */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
